.HrCreatePosition {
    padding: 30px;
}

.CreatePositionContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

.createPositionHeader {
    display: flex;
    gap: 10px;
}

.CreatePositionContainer a {
    font-size: var(--fs-large);
    color: var(--secondary-color);
    text-decoration: none;
}

.CreatePositionContainer h3 {
    font-size: var(--fs-large);
}

.CreatePositionContainer p {
    font-size: var(--fs-small);
    color: var(--gray-dark);
    margin: 10px 0 20px;
}

.formGroup {
    display: flex;
    gap: 30px;
}

.labelInput {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.labelInput:first-child {
    flex: 6;
}

.labelInput:last-child {
    flex: 4;
}

.labelInput label {
    font-size: var(--fs-medium);
}

.labelInput input{
    padding: 10px;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    font-size: var(--fs-medium);
    color: var(--secondary-color);
}

.labelInput textarea {
    padding: 10px;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    font-size: var(--fs-medium);
    color: var(--secondary-color);
    resize: vertical;
    min-height: 100px;
}


.buttonGroup {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.buttonGroup button {
    font-size: var(--fs-medium);
}

.buttonGroup .cancel {
    color: white;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.buttonGroup .create {
    color: white;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
} 