.dashboardContainer {
    display: grid;
    grid-template: 
        "sidebar header"
        "sidebar content";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100svh;
}

#Sidebar {
    grid-area: sidebar;
    height: 100svh;
}

#Header {
    grid-area: header;
}

#Content {
    grid-area: content;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .dashboardContainer {
        grid-template: 
            "navbar"
            "content";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    #Sidebar {
        grid-area: navbar;
        height: auto;
    }

    #Header {
        display: none;
    }

    #Content {
        grid-area: content;
        min-height: 0;
        overflow-y: auto;
    }
}