.positionsHR {
    min-width: 1000px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.positionCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding: 20px 0;
}

.positionCards {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
    gap: 20px;
    width: 20vw;
    min-width: 220px;
    border-radius: 20px;
    flex: 1;
}

.positionsIcon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.positionCardsText p {
    font-size: var(--fs-small);
    color: var(--gray-dark);
    margin-bottom: 5px;
}

.positionsSearchContainer {
    background-color: var(--gray-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 25px;
    margin: 20px 0;
    border-radius: 20px;
}

.selectContainer {
  display: flex;
  gap: 15px;
}

.searchInputWrapper {
  position: relative;
  flex: 1;
}

.positionsSearchContainer input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    min-width: 200px;
    font-size: var(--fs-small);
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-dark);
  pointer-events: none;
}

.positionsSearchContainer select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    min-width: 150px;
    font-size: var(--fs-small);
}

.positionsSearchContainer input:focus,
.positionsSearchContainer select:focus {
    outline: none;
}


.positionsTableContainer{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    font-size: var(--fs-medium);
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.positionsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.positionsTable th, .positionsTable td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--gray-light);
}

.positionsTable th {
    background-color: var(--gray-light);
}

.positionsTable tr:hover {
    background-color: var(--gray-light);
}

.positionsTable td button {
    border: none;
    background: none;
    cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-dark);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #1f9254; 
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}


.statusWrapper {
  display: flex;
  align-items: center;    
  gap: 8px;                
  justify-content: flex-start;
}

.statusText {
  font-weight: 500;
  width: 50px;          
  text-align: left;          
}